#header-bar {
    display: flex;
    justify-content: space-between;

}

#logo {
    margin-top: 0;
    color: #186F65;
    /* pakai color pallete aja nanti */
}

.navigation-bar {
    display: flex;
    gap: 10px;

}

.navigation-bar>a {
    text-decoration: none;
    font-family: Calibri;

}


.input-section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 60px;
    margin-left: 60px;
}

label {
    margin-bottom: 4px;
    font-size: small;
    color: #B5CB99;
}

input {
    outline: none;
    border: solid #ffecbd;
    padding: 10px;
    border-radius: 8px;

}


input:focus {
    border: solid #c07767;
}

button  {
    background-color: #B5CB99;
    color: #c07767;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;

}

button:hover {
    background-color: #186F65;

}

button:active {
    transform: translateY(4px);
}


.button-section {
    margin-top: 8px;

}



